<div class="col-lg-12">
	<div class="panel panel-info">
  		<div class="panel-heading">My Courses</div>
  		<div class="panel-body">
			<% if @course_groups.length <= 0 %>
				<span class="label label-warning">No Courses</span>
			<% else 
			     @course_groups.each { |status,cg|
			%>
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th class="<%= (status == 'Completed') ? 'success' : 'info' =%>" colspan="5"><%= status =%></th>
					</tr>
				</thead>
				<tbody>
					<% cg.each { |c| %>
						<tr>
						<td width="40%"><%= c.product.name if c.product =%></td>
						<td width="20%"><%= c.product.vendor.name if c.product && c.product.vendor =%></td>
						<td width="10%">Assigned by <%= c.assigned_by =%></td>
						<td width="10%"><div class="course-progress progress">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= c.percent_complete.to_i =%>" aria-valuemin="0" aria-valuemax="100" style="width: <%= c.percent_complete.to_i =%>%;">
						    <span class="sr-only"><%= c.percent_complete.to_i =%>% Complete</span>
						  </div>
						</div></td>
						<td><%= c.completion_date.strftime("%F") if c.completion_date =%></td>
						</tr>
					<% } %>
				</tbody>

			</table>
			<% } end %>
		</div>
	</div>
</div>
