<div class="col-lg-6">
	<div class="panel panel-info">
    <div class="panel-heading"><%= @account ? @account.company_name : 'Unknown Company' =%> - Home page</div>
 		<div class="panel-body">Welcome!</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">Discussions</div>
 		<div class="panel-body">No discussions</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Playlists</div>
    <div class="panel-body">
			<% if @playlists == nil || @playlists.length <= 0 %>
				<span class="label label-warning">No Playlists</span>
			<% else %> 
				<table class="table table-condensed table-hover">
				<tbody>
			     	<% @playlists.each { |pl| %>
					<tr>
            <td width="5%">
              <button type="button" class="btn btn-xs <%= pl.subscribed ? 'btn-danger' : 'btn-success' =%>">
                <span class="glyphicon glyphicon-<%= pl.subscribed ? 'minus' : 'plus' =%>"></span>
              </button>
            </td>
						<td width="60%">
							<div><%= link_to pl.title =%></div>
							<%= pl.description =%>
						</td>
					</tr>
			     	<% } %>
				</tbody>
			</table>
			<% end %>
    </div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
 		<div class="panel-heading">Recommended Courses</div>
 		<div class="panel-body">
  		<button class="btn btn-primary btn-sm">Recommend</button>
		</div>
	</div>
</div>

