<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center voffset3">
      <%= image_tag('ER_final_logo-crop-224x43.png') %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center voffset3">
      <div class="panel panel-info">
        <div class="panel-heading">Sign Up for <%= params["type"] %> account</div>
        <%= form_for(@pending_user, url: sign_up_path) do |f| %>
          <div class="panel-body">
            <%= f.hidden_field :user_type, :value => params["type"] %>
            <%= f.text_field :first_name, autofocus: true, class: 'form-control voffset1', placeholder: 'First Name' %>
            <%= f.text_field :last_name, autofocus: true, class: 'form-control voffset1', placeholder: 'Last Name' %>
            <%= f.text_field :company_name, autofocus: true, class: 'form-control voffset1', placeholder: 'Company Name' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control voffset1', placeholder: 'Email' %>
            <div class="voffset2">
              <%= f.submit "Sign up", class: 'btn btn-primary form-control' %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

