<% if !params[:controller].starts_with?('devise') %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('ER_final_logo-crop-224x43.png', alt: 'My EdgeRocket homepage', width: '100px'), 'user_home', class: 'navbar-brand' =%>
      <a href="user_home" class="navbar-brand"><span class="glyphicon glyphicon-home"></span></a>
	
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'my_courses' %>">
          <%= link_to("My Courses", controller: "my_courses", action: "index") =%>
        </li>
        <li class="<%= 'active' if params[:controller] == 'search' %>">
          <%= link_to("Search", controller: "search", action: "index") =%>
        </li>
        <li class="<%= 'active' if params[:controller] == 'plans' %>">
          <%= link_to("Plan", controller: "plans", action: "index") =%>
        </li>
	<% if can? :manage, :all %>
	       <li class="<%= 'active' if params[:controller] == 'dashboards' %>">
        	  <%= link_to("Company Dashboard", controller: "dashboards", action: "show") =%>
	       </li>
	       <li class="dropdown">
        	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
	          <ul class="dropdown-menu">
        		<li class="<%= 'active' if params[:controller] == 'teams' %>">
         			<%= link_to("My Team", controller: "teams", action: "index") =%>
	       		</li>
        		<li class="<%= 'active' if params[:controller] == 'corp_home' %>">
          			<%= link_to("Edit Home", controller: "corp_home", action: "index") =%>
	        	</li>
        		<li class="<%= 'active' if params[:controller] == 'playlists' %>">
          			<%= link_to("Playlists", controller: "playlists", action: "index") =%>
	        	</li>
        		<li class="<%= 'active' if params[:controller] == 'employees' %>">
          			<%= link_to("Users", controller: "employees", action: "index") =%>
	        	</li>
        	  </ul>
	       </li>
	<% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
        	<li><a href="#"><span class="glyphicon glyphicon-user"/> <%= current_user.email =%></a></li>
	<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>
