<!DOCTYPE html>
<html ng-app="EdgeRocket">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EdgeRocket" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EdgeRocket" %>">
    <%= stylesheet_link_tag "application", media: "all" %>

    <!-- Change Bootswatch theme here -->
    <%= stylesheet_link_tag "yeti", media: "all" %>
    
    <%= javascript_include_tag "application", controller_name if controller_name != 'sessions' && controller_name != 'passwords' %>
    <%= csrf_meta_tags %>
    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Cabin:600' rel='stylesheet' type='text/css'>
    <!-- verify production site -->
    <meta name="google-site-verification" content="OB6N5Il_5SxjzATMTkiKrKoFp7wHJmBti7hJbyajoHo" />
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>

      <% if !@provided_by.nil? && @provided_by==true %>
      <div class="container-fluid">
        <div class="row provided-by">
          <div class="col-xs-12 text-left">
            Powered by EdgeRocket
          </div>
        </div>
      </div>
      <% end %>

    </header>

    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
